.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

.main-container {
  display: flex;
}

.enunciado {
  flex: 0 1 50%;
  min-height: 100%;
  min-width: 25%;
  padding: .5em;
}

.codigo {
  align-items: flex-start;
  display: flex;
  flex: 0 1 50%;
  flex-wrap: wrap;
  height: 100%;
  min-width: 25%;
  padding: .5em;
}

.medio-panel-superior {
  display: flex;
  flex: 0 0 100%;
  margin-bottom: .5em;
  max-width: 100%;
  min-height: 50%;
  overflow: hidden;
}

.medio-panel-inferior {
  display: flex;
  flex: 0 0 100%;
  margin-bottom: .5em;
  max-width: 100%;
  min-height: 35%;
  overflow: hidden;
}

.editor-area {
  /*background-color: black;
  color: white;*/
  resize: none;
  width: 100%;
}

.streaming-chronometer {
  padding-left:6px; 
  padding-right:6px
}

.winner {
  color: green;
  font-size: larger;
}


/* ----------------------------------------- */
/* ------------ Experimental --------------- */
/* ----------------------------------------- */
.medio-panel-superior.card-ang-mat {
  height: 80%;
}
.CodeMirror.cm-s-material {
  border: 1px solid #eee;
  height: 100% !important;
}
codemirror > div.CodeMirror.cm-s-material {
    height: 100%;
}