<md-toolbar color="second">
    <div class="flexibox-row">
        <span [class.winner]="challengeProgress.playerA.state === 'WINNER'">
            {{ challengeProgress.playerA.state }}
        </span>
    </div>
    <span class="spacer"></span>

    <md-icon>watch_later</md-icon>
    <kata-chronometer 
        class="padding-left-6 padding-right-6"
        mode="SYNC" 
        duration="0" 
        direction="ASC" 
        [state]="challengeState"
        (chronometer)="chronoEvent($event)"
        classstreaming-chronometer="">
    </kata-chronometer>
    <md-icon>cast_connected</md-icon>

    <span class="spacer"></span>
    
    <span [class.winner]="challengeProgress.playerB.state === 'WINNER'">
        {{ challengeProgress.playerB.state }}
    </span>
</md-toolbar>

<!-- style="height: calc(100% - (120px));" -->
<div class="flexibox-row">
    <!-- Left column: Player A -->
    <div class="flex-basis-50 padding-12">
        <div class="full-width">
            <div style="display: inline; float: left">
                <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
            </div>
            <div class="flexibox-column" style="float: left; padding-left: 18px">
                <div class="flex-grow-1">
                    <strong>Opponent:</strong> {{ currentChallenge?.usernamePlayerA || 'Waiting oponent...' }}
                </div>
                <div class="flex-grow-1">
                    <strong>Implementation length:</strong> {{ codePlayerA?.length || 0 }}
                </div>
                <div class="flex-grow-1">
                    <strong>Number of tests:</strong> {{ challengeProgress.playerA?.tests || 0 }}
                </div>
                <div class="flex-grow-1">
                    <strong>Passed tests:</strong> {{ challengeProgress.playerA?.passedTests || 0 }}
                </div>
            </div>
        </div>
        <div class="full-width" style="margin-top: 100px">
            <div class="medio-panel-superior card-ang-mat">
                <codemirror class="editor-area" 
                    [(ngModel)]="codePlayerA" 
                    [config]="config">
                </codemirror>
            </div>
        </div>
    </div>

    <!-- Right column: Player B -->
    <div class="flex-basis-50 padding-12">
        <div class="full-width">
            <div style="display: inline; float: left">
                <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
            </div>
            <div class="flexibox-column" style="float: left; padding-left: 18px">
                <div class="flex-grow-1">
                    <strong>Opponent:</strong> {{ currentChallenge?.usernamePlayerB || 'Waiting oponent...' }}
                </div>
                <div class="flex-grow-1">
                    <strong>Implementation length:</strong> {{ codePlayerB?.length || 0 }}
                </div>
                <div class="flex-grow-1">
                    <strong>Number of tests:</strong> {{ challengeProgress.playerB.tests || 0 }}
                </div>
                <div class="flex-grow-1">
                    <strong>Passed tests:</strong> {{ challengeProgress.playerB.passedTests || 0 }}
                </div>
            </div>
        </div>
        <div class="full-width" style="margin-top: 100px">
            <div class="medio-panel-superior card-ang-mat">
                <codemirror class="editor-area" 
                    [(ngModel)]="codePlayerB" 
                    [config]="config">
                </codemirror>
            </div>
        </div>
    </div>

    <!-- Separator -->
    <div style="left:50%; position:absolute; width:4px; z-index:1;
                background: #1d1d1d; top:128px; bottom:0; margin-left:-2px;">
    </div>
</div>