<md-toolbar color="second">
    <md-icon>watch_later</md-icon>
    <span>Time left: XX mins XX sec</span>

    <span class="example-spacer"></span>

    <button md-mini-fab><md-icon>play_arrow</md-icon></button>
    <span style="margin-left:6px"></span>
    <button md-mini-fab><md-icon>stop</md-icon></button>
</md-toolbar>

<div style="display:flex; flex-direction:column; min-height:100%;">
    <!--<div style="flex: 1; position:relative; display: flex; flex-direction: column; justify-content: center;">1</div>
    <div style="flex: 1; position:relative; display: flex; flex-direction: column; justify-content: center;">2</div>
    <div style="flex: 1; position:relative; display: flex; flex-direction: column; justify-content: center;">3</div>-->
    
    <!--<div style="flex: 1; position:relative; display: flex; flex-direction: column; justify-content: center;">
        <div style="position:absolute; width:100%; height:100%;">XXX</div>
    </div>-->

    <div style="display:flex; flex-direction:row; margin-top:12px;">
        <div style="flex:1 0 48%; margin-right: 6px;">
            <md-card class="example-card">
                <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </md-card-content>
                <md-card-actions>
                    <a md-button><md-icon>play_arrow</md-icon> Start exercise!</a>
                </md-card-actions>
            </md-card>
        </div>

        <div style="flex:1 0 48%; margin-left: 6px;">
            <div style="background-color:white; border-radius: 2px; box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12); display:block; font-family:Roboto,'Helvetica Neue',sans-serif; font-size:14px; padding:24px;">
                <p>Code</p>
            </div>
            <div style="background-color:white; border-radius: 2px; box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12); display:block; font-family:Roboto,'Helvetica Neue',sans-serif; font-size:14px; padding:24px;">
                <p>Test</p>
            </div>
        </div>
    </div>
</div>