<div style="display:flex; flex-direction:column; margin:50px 0; padding:0 30%">
  <div style="display:flex; flex-direction:row; align-items:center; justify-content:center; margin:10px 0 30px 0;">
    <img src="assets/images/logo_javascript.png" width="50%" height="50%" />
  </div>

  <div style="display:flex; flex-direction:column; padding-bottom:20px">
    <md-input-container class="">
      <input mdInput placeholder="Username" [(ngModel)]="username" >
    </md-input-container>
    <md-input-container class="">
      <input type="password" mdInput placeholder="Password" [(ngModel)]="password">
    </md-input-container>
    <md-select placeholder="Select the event to join (optional)" floatPlaceholder="never" [(ngModel)]="eventSelected" name="event">
      <md-option *ngFor="let event of events" [value]="event">{{ event }}</md-option>
    </md-select>
  </div>
  
  <div style="display:flex; flex-direction:column">
    <button md-raised-button color="primary" (click)="standardLogin()">
      <i class="fa fa-key fa-lg" aria-hidden="true"></i> Standard login
    </button>
    <br /><hr style="width:100%" /><br />

    <!-- Login with github credentials -->
    <a md-raised-button color="accent" href="/auth/github">
      <i class="fa fa-github fa-lg" aria-hidden="true"></i> Github login
    </a><br />

    <!-- Login with twitter credentials -->
    <a md-raised-button color="accent" href="/auth/twitter">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i> Twitter login
    </a><br />

    <!-- Login with facebook credentials -->
    <a md-raised-button color="accent" href="/auth/facebook">
      <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i> Facebook login
    </a><br />

    <!-- Login with google credentials -->
    <a md-raised-button color="accent" href="/auth/facebook">
      <i class="fa fa-google fa-lg" aria-hidden="true"></i> Google login
    </a><br />
  </div>
</div>