<div style="display:flex; flex-direction:column; margin:50px 0; padding:0 30%">
  <div style="display:flex; flex-direction:row; align-items:center; justify-content:center; margin:10px 0 30px 0;">
    <img src="assets/logo_javascript.png" width="50%" height="50%" />
  </div>

  <div style="display:flex; flex-direction:column; padding-bottom:20px">
    <md-input-container class="">
      <input mdInput placeholder="Username">
    </md-input-container>
    <md-input-container class="">
      <input type="password" mdInput placeholder="Password">
    </md-input-container>
  </div>
  
  <div style="display:flex; flex-direction:column">
    <button md-raised-button color="primary" (click)="standardLogin()">
      <i class="fa fa-key fa-lg" aria-hidden="true"></i> Standard login
    </button>
    <br /><hr style="width:100%" /><br />

    <!-- Login with github credentials -->
    <button md-raised-button color="accent" (click)="loginWithGithubCredentials()">
      <i class="fa fa-github fa-lg" aria-hidden="true"></i> Github login
    </button><br />

    <!-- Login with twitter credentials -->
    <button md-raised-button color="accent" (click)="loginWithTwitterCredentials()">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i> Twitter login
    </button><br />

    <!-- Login with facebook credentials -->
    <button md-raised-button color="accent" (click)="loginWithFacebookCredentials()">
      <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i> Facebook login
    </button><br />
  </div>
</div>