<h1>Current challenges</h1>
<hr />

<div class="flexibox-row" style="padding:0 18px;">
	<md-list class="flex-grow-1">
  		<h3 md-subheader>Current challenges</h3>
  		<md-list-item *ngFor="let challenge of challenges">
    		<a routerLink="/streaming/{{challenge.challengeId}}"><md-icon md-list-avatar>ondemand_video</md-icon></a>
			<md-icon md-list-avatar>folder</md-icon>
    		<h4 md-line>{{challenge.challengeId}}</h4>
    		<p md-line> {{challenge.timestamp | date}} </p>
  		</md-list-item>

  		<md-divider></md-divider>

  		<h3 md-subheader>Recently finished</h3>
  		<!--<md-list-item *ngFor="let note of notes">
    		<md-icon md-list-avatar>note</md-icon>
    		<h4 md-line>{{note.name}}</h4>
    		<p md-line> {{note.updated | date}} </p>
  		</md-list-item>-->
	</md-list>
</div>

<div class="md-fav-bottom">
	<button md-fab (click)="reload()"><md-icon>autorenew</md-icon></button>
</div>
