<md-toolbar color="primary">
    <a md-mini-fab routerLink="/home" [routerLinkActive]="['hidden']" [routerLinkActiveOptions]="{exact:true}">
        <md-icon>keyboard_return</md-icon>
    </a>
    <span style="margin-left:12px">{{ title }}</span>
    <md-menu #appMenu="mdMenu">
        <button md-menu-item (click)="logout()">
            <md-icon>fingerprint</md-icon>
            <span>Logout</span>
        </button>
        <button md-menu-item (click)="goHome()">
            <md-icon>home</md-icon>
            <span>Home</span>
        </button>
        <button md-menu-item (click)="openCurrentChallenges()">
            <md-icon>list</md-icon>
            <span>Challenges</span>
        </button>
        <button md-menu-item (click)="openStreamingMode()">
            <md-icon>cast</md-icon>
            <span>Streaming</span>
        </button>
        <button md-menu-item (click)="openRanking()">
            <md-icon>assessment</md-icon>
            <span>Ranking</span>
        </button>
        <button md-menu-item (click)="openSettings()">
            <md-icon>settings</md-icon>
            <span>Settings</span>
        </button>
        <button md-menu-item (click)="openAbout()">
            <md-icon>info</md-icon>
            <span>About kata-player...</span>
        </button>
    </md-menu>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <button md-icon-button [mdMenuTriggerFor]="appMenu">
        <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>

<router-outlet></router-outlet>
