md-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.main-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.hidden {
    display: none;
}