<md-toolbar color="accent">
    <span>Your current training path: {{ trainingPath?.name }}</span>
    <span class="fill-remaining-space"></span>
    <md-select class="margin-right-12" [(ngModel)]="selectedValue" (change)="onSelectedChange($event)" name="kata">
        <md-option *ngFor="let exercise of trainingPath?.katas" [value]="exercise.name">
            {{ exercise.name }}
        </md-option>
    </md-select>
    <span>
        <i class="fa fa-cubes" aria-hidden="true"></i> 
        <!-- X / Y -->
        {{ currentExerciseIndex + 1 }}
        /
        <div *ngIf="trainingPathLength; then pathLength else pathLengthUnknown"></div>
        <ng-template #pathLength>{{ trainingPathLength }}</ng-template>
        <ng-template #pathLengthUnknown>?</ng-template> 
    </span>
</md-toolbar>

<div class="flexbox-row">
    <kata-player
        [title]="currentExercise?.name"
        [explanation]="currentExercise?.description"
        [examples]="currentExercise?.examples"
        [inputs]="currentExercise?.inputs"
        [outputs]="currentExercise?.outputs"
        [code]="currentExercise?.initialBodyFunction"
        [status]="READING"
        (success)="onSuccessKata()"
        [next-button]="true"
        (success)="onSuccess()"
        (fail)="onFailedKataAttemp()"
        (nextExercise)="onNextExercise()">
    </kata-player>
</div>