@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~notosans-fontface/css/notosans-fontface.min.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', 'Noto', sans-serif;
}

div { 
  box-sizing: border-box; 
}

.full-width {
  width: 100%;
}

.float-right {
  float: right;
}

.center-column-content {
    text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}


/* --------------------------------------------------- */
/*                        Cards                        */
/* --------------------------------------------------- */
.card {
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-ang-mat {
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  display: block;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  padding: 24px;
  position: relative;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  will-change: box-shadow;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* --------------------------------------------------- */
/*                       Colors                        */
/* --------------------------------------------------- */
.text-color-red {
  color: red;
}

.test-line-error {
  color: red;
}

.test-line-successful {
  color: green;
}

/* --------------------------------------------------- */
/*                       Spaces                        */
/* --------------------------------------------------- */
.padding-0 { padding: 0; }
.padding-6 { padding: 6px; }
.padding-12 { padding: 12px; }
.padding-top-8 { padding-top: 8px; }
.padding-top-18 { padding-top: 18px; }
.padding-left-6 { padding-left: 6px; }

.margin-hr { margin-top: -18px; }

.margin-0 { margin: 0; }
.margin-6 { margin: 6px; }
.margin-12 { margin: 12px; }
.margin-18 { margin: 18px; }
.margin-top-8 { margin-top: 18px; }
.margin-bottom-8 { margin-bottom: 8px; }
.margin-bottom-18 { margin-bottom: 18px; }
.margin-left-6 { margin-left: 6px; }
.margin-right-6 { margin-right: 6px; }
.margin-right-12 { margin-right: 12px; }

/* --------------------------------------------------- */
/*                      Flexboxes                      */
/* --------------------------------------------------- */
.flexibox-row {
  display: flex; 
  flex-direction: row;
}

.flexibox-row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;  /* Apply mixin */
}

.flexibox-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.align-s-center {
  align-self: center;
}
