<h1>Settings</h1>
<hr />

<md-tab-group>
    <!-- First tab: users -->
    <md-tab>
        <ng-template md-tab-label>
            <i class="fa fa-users" aria-hidden="true"></i> Users
        </ng-template>
        <div>
            Tab 0 content
        </div>
    </md-tab>

    <!-- Second tab: learning paths -->
    <md-tab>
        <ng-template md-tab-label>
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> Learning paths
        </ng-template>
        <div>
            Tab 1 content
        </div>
    </md-tab>
    
    <!-- third tab: admin katas -->
    <md-tab>
        <ng-template md-tab-label>
            <i class="fa fa-file-text" aria-hidden="true"></i> Katas
        </ng-template>
        <div>
            Tab 2 content
        </div>
    </md-tab>

    <!-- fourth tab: XXX -->
    <md-tab>
        <ng-template md-tab-label>
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> Tab XXX
        </ng-template>
        <div>
            Tab 3 content
        </div>
    </md-tab>

    <!-- fiveth tab: YYY -->
    <md-tab>
        <ng-template md-tab-label>
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> Tab YYY
        </ng-template>
        <div>
            Tab 4 content
        </div>
    </md-tab>
</md-tab-group>
